$primary: #34a686;
$primaryMedDark: #1e7a61;
$primaryDark: #0f342a;
$primaryMedLight: #5ad7b4;
$primaryLight: #91f8dc;

$secondary: #e0d700;
$secondaryMedDark: #d8d003;
$secondaryDark: #cec713;
$secondaryMedLight: #e6dd00;
$secondaryLight: #ebe200;

$tertiary: #343138;
$tertiaryMedDark: #1f1925;
$tertiaryDark: #201e23;
$tertiaryMedLight: #1f172a;
$tertiaryLight: #504062;

$quaternary: #fff0e7;
$quaternaryMedDark: #ffe4d5;
$quaternaryDark: #ead0c1;
$quaternaryMedLight: #fff3ed;
$quaternaryLight: #fff4ef;

$storePrimary: #519895;
$storePrimaryMedDark: #437c7a;
$storePrimaryDark: #315b59;
$storePrimaryMedLight: #62bbb8;
$storePrimaryLight: #77dad6;

$storeSecondary: #fbe285;
$storeSecondaryMedDark: #ccb96e;
$storeSecondaryDark: #958750;
$storeSecondaryMedLight: #ffe686;
$storeSecondaryLight: #ffe78b;

$storeTertiary: #d16f9d;
$storeTertiaryMedDark: #aa5c81;
$storeTertiaryDark: #7d435e;
$storeTertiaryMedLight: #e277aa;
$storeTertiaryLight: #ef83b6;

$storeTQuaternary: #fbb985;
$storeTQuaternaryMedDark: #cc986e;
$storeTQuaternaryDark: #956f50;
$storeTQuaternaryMedLight: #ffbc86;
$storeTQuaternaryLight: #ffbe8b;
