$primary: #34a686;
$primaryMedDark: #1e7a61;
$primaryDark: #0f342a;
$primaryMedLight: #5ad7b4;
$primaryLight: #91f8dc;

$secondary: #e0d700;
$secondaryMedDark: #d8d003;
$secondaryDark: #cec713;
$secondaryMedLight: #e6dd00;
$secondaryLight: #ebe200;

$tertiary: #343138;
$tertiaryMedDark: #1f1925;
$tertiaryDark: #201e23;
$tertiaryMedLight: #1f172a;
$tertiaryLight: #504062;

$quaternary: #fff0e7;
$quaternaryMedDark: #ffe4d5;
$quaternaryDark: #ead0c1;
$quaternaryMedLight: #fff3ed;
$quaternaryLight: #fff4ef;
